* {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #1d1f29;
}

.wrapper {
  margin: 6px auto;
  width: 1000px;
}

.responsive {
  width: 100%;
  height: auto;
}

footer {
  width: 100%;
  height: 60px;
  background-color: black;
}

.textContainer {
  background-color: #272937;
  color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
  padding: 20px 20px 150px 20px;
  margin-bottom: 130px;
}

.textContainer h2 {
  margin-left: 20px;
}

.textContainer > p {
  font-size: 18px;
  padding: 0px 20px;
  color: #fff;
}

footer p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  padding-top: 10px;
  font-size: 14px;
  color: azure;
}

header h1 {
  padding: 0px 10px;
  padding-top: 2px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 20px;
  font-size: 40px;
  color: azure;
  float: left;
}

/* Navigation bar */

nav {
  width: 100%;
  height: 56px;
  background-color: black;
}

.menu {
  float: left;
}

.menu li {
  float: left;
  list-style: none;
}

.menu li a {
  display: block;
  font-size: 18px;
  padding: 11px 18px;
  margin-top: 9px;
  text-decoration: none;
  color: azure;
}

.menu li a:hover {
  background-color: #272937;
  border-bottom: 2px green solid;
}

/* INDEX.HTML */

#text1 {
  margin: 0px auto 0px 10px;
  width: 700px;
  font-size: 18px;
  border: 2px black solid;
  border-radius: 20px;
  padding: 10px 10px;
  margin: 20px 0px;
}

#ommig {
  width: 900px;
  font-size: 18px;
  padding: 20px 20px 70px 0px;
}

#ommig a {
  color: #fff;
}

#ommig div {
  float: right;
  margin-left: 24px;
}

/* SPEL.HTML */

#spelBörja {
  margin-top: 50px;
  padding: 20px 0px 60px 0px;
}

#spelcontent {
  border: 2px white solid;
  width: 225px;
  padding: 10px 20px 20px 20px;
  margin-bottom: 50px;
}

#spelcontent > ul {
  margin-top: 5px;
}

#spelcontent li {
  margin-top: 10px;
  margin-left: 15px;
}

#spelcontent li a {
  color: #fff;
  font-size: 16px;
}

#spelcontent li a:hover {
  color: gray;
}

#favoritSpel {
  margin-bottom: 50px;
  padding: 20px 20px 70px 20px;
}

#favoritSpel p {
  font-size: 18px;
}

.spelCover {
  width: 250px;
  border: 2px black solid;
  box-shadow: 2px 2px 5px black;
  padding: 5px;
  margin-left: 20px;
  margin-top: -20px;
  float: right;
}

.spelCover p a {
  color: #fff;
}

.spelCover p a:hover {
  color: gray;
}

.spelCover p {
  text-align: center;
  border-top: 2px black solid;
  margin-top: 2px;
  font-size: 16px;
  margin-bottom: 5px;
}

.spelCover table {
  font-size: 14px;
  margin: 0px auto;
}

.spelH2 {
  text-align: center;
  margin-bottom: 20px;
}

/* ANIME.HTML */

#animebanner {
  position: relative;
  text-align: center;
  font-size: 50px;
}

#banner {
  width: 100%;
}

#aniBörja {
  font-size: 18px;
  padding: 20px 0px 70px 0px;
}

#aniReko {
  font-size: 18px;
  padding: 20px 0px 70px 0px;
}

.animeCover {
  width: 200px;
  margin-left: 20px;
  margin-top: -22px;
  border: 2px black solid;
  padding: 3px;
  box-shadow: 2px 2px 5px black;
  float: right;
}

.animeCover p {
  text-align: center;
  font-size: 16px;
}

.animeCover p a {
  color: #fff;
}

#bannerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Bangers", cursive;
  text-shadow: 2px 2px #fff;
}

/* Responsivity */

@media only screen and (max-width: 868px) {
  #text1 {
    width: 100%;
    border: 2px black solid;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 10px 0px;
  }

  #text1 p {
    padding: 0px 20px 20px 20px;
  }

  #ommig {
    width: 100%;
    box-sizing: border-box;
    font-size: 12px;
    padding-right: 10px;
    margin: 40px 0px 20px 0px;
  }

  .wrapper {
    margin: 0px;
    width: 100%;
  }

  .textContainer {
    padding: 20px 0px 100px 0px;
  }

  #spelMinecraft p {
    padding: 0px 20px;
  }

  header {
    width: 100%;
    background-color: black;
  }

  header h1 {
    padding: 0px 10px;
    padding-top: 2px;
    margin-left: 0px;
    text-align: center;
    font-size: 26px;
    color: azure;
    float: none;
  }

  nav {
    height: 27px;
  }

  .menu {
    float: none;
    display: flex;
    justify-content: space-evenly;
  }

  .menu li a {
    font-size: 14px;
    padding: 5px 12px;
    margin-top: 0px;
  }

  #ommig div img {
    width: 150px;
  }

  #text1 {
    width: 100%;
    font-size: 12px;
    padding: 0px;
    border: none;
  }

  .spelCover {
    float: none;
    width: 240px;
    margin: 0px auto;
    margin-bottom: 15px;
  }

  .animeCover {
    float: none;
    margin: 0px auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .spelCover img {
    width: 100%;
  }

  #animebanner {
    font-size: 50px;
  }

  .aniP {
    padding: 0px 5px 0px 5px;
  }

  .textContainer h3 {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 320px) {
  .menu li a {
    font-size: 13px;
  }

  header h1 {
    font-size: 24px;
  }

  .spelCover {
    width: 180px;
  }

  .textContainer {
    padding: 20px 0px 150px 0px;
  }

  .topBorder {
    border: none;
  }
}
